<EmberNativeScrollable @content-size={{this._contentSize}} @scroll-left={{this._scrollLeft}} @scroll-top={{this._scrollTop}} @scrollChange={{this.scrollChange}} @clientSizeChange={{this.clientSizeChange}}>
  <div>
    {{~#each this._cells as |cell|~}}
      <div style={{{cell.style}}}>{{yield cell.item cell.index }}</div>
    {{~/each~}}
  </div>
</EmberNativeScrollable>
