<h3>Mixed Grid</h3>
<button {{action 'toggleLayout'}}>
  {{#if showLayout}}
    Hide Custom Layout Template
  {{else}}
    Show Custom Layout Template
  {{/if}}
</button>
<hr />

<div class="simple-wrapper" style="box-sizing:border-box;width:100%;">
  {{#if showLayout}}
    <div class="simple-layout" style="float:left;width:40%;margin-top:-12px;padding-right:20px;">
      {{md-text text=(concat "```javascript" code)}}
    </div>
  {{/if}}
  <div class="mixed" style="float:left;position:relative;height:500px;width:{{if showLayout "60%" "100%"}}">
    {{#ember-collection items=model estimated-height=800 estimated-width=500 buffer=10 cell-layout=mixedGrid as |item index|}}
      <div class="list-item">
        {{item.name}}
      </div>
    {{/ember-collection}}
  </div>
</div>
