<h3>Percentage Column Widths</h3>
<button {{action 'toggleLayout'}}>
  {{#if showLayout}}
    Hide Custom Layout Template
  {{else}}
    Show Custom Layout Template
  {{/if}}
</button>
<hr />
<button {{action 'changeColumn' 1}}>25-50-25</button>
<button {{action 'changeColumn' 2}}>20-20-40-20</button>
<button {{action 'changeColumn' 3}}>33-33-33</button>
<button {{action 'changeColumn' 4}}>50-50</button>
<button {{action 'changeColumn' 5}}>100</button>
<hr />

<div class="simple-wrapper" style="box-sizing:border-box;width:100%;">
  {{#if showLayout}}
    <div class="simple-layout" style="float:left;width:40%;margin-top:-12px;padding-right:20px;">
      {{md-text text=(concat "```javascript" code "```")}}
    </div>
  {{/if}}
  <div class="percent" style="float:left;position:relative;height:500px;width:{{if showLayout "60%" "100%"}}">
    {{#ember-collection items=model estimated-height=800 estimated-width=500 buffer=10 cell-layout=percentageGrid as |item index|}}
      <div class="list-item">
        {{item.name}}
      </div>
    {{/ember-collection}}
  </div>
</div>
